<% content_for :head do %>

<title>Turnaround Time</title>

    
    <script type="text/javascript">

      // Load the Visualization API and the piechart package.
     
      	google.load("visualization", "1", {packages:["corechart"]});

      // Callback that creates and populates a data table, 
      // instantiates the pie chart, passes in the data and
      // draws it.
      
		google.setOnLoadCallback(drawChart);

      
    function drawChart() {
      
      // Prepare the data
        var data = new google.visualization.DataTable();
       	data.addColumn('string', 'Date Authorised');
        data.addColumn('number', 'Avg TAT');
        data.addColumn('number', 'No of Samples');
        data.addRows([
			<% @statistic.each do |statistic| %>
				['<%= statistic.Date_Time_Received %>',  {v: <% if statistic.HrsIn.nil? %> 0
				<%else%> <%=statistic.HrsIn %>}, <% end %>
				
				{v: <% if statistic.HrsIn.nil? %> 0
				<%else%> <%=statistic.HrsIn %>}, <% end %>],

			<%end%>
          		['Bob',   {v: 1},{v: 1}]
        ]);
    
    
	 var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, {width: 500, height: 240, title: '<%=@setcode%> Daily Performance'});
      }

    </script>
<% end %>


<div class="container">
<div class="sixteen columns">
	<div class="eight columns alpha">
			<h3>Daily (Date Booked in) TAT and Numbers for: <%= @setcode %></h3>
      		<div id="chart_div"></div>
	</div>
	<div class="eight columns omega">
		<h3>Median TAT over time period: <%=@median%></h3>
		<p>TAT is calculated for each sample grouped by the date booked in and the average calculated as is the number of samples.</p>
		<p></p>
	</div>
</div>
</div>
