<% content_for :head do %>

<title>Turnaround Time Performance for Week: <%=@week_no%></title>


<script type='text/javascript' src='https://www.google.com/jsapi'></script>
    <script type='text/javascript'>
      google.load('visualization', '1', {packages:['table']});
	  google.load("visualization", "1", {packages:["corechart"]});

      google.setOnLoadCallback(drawTable);
      function drawTable() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Set Code');
        data.addColumn('number', 'Average Turnaround Time for Week');
		data.addColumn('number', 'Turnaround Time Target');
		data.addColumn('number', 'Difference');
		data.addColumn('number', 'Number of Sets');
        data.addColumn('boolean', 'In TAT');
		<% 	@countnotat = 0
			@counthittat = 0 
			@counter = 0
			@rowpos =[]
		%>
        data.addRows([
			<% @week_tats.each do |statistic| %>
				['<%= statistic.Set_Code %>',  {v: <% if statistic.ReqtoAuth.nil? %> 0,
				<%else%> <%=statistic.ReqtoAuth %>, <% end %>
				f: <% if statistic.ReqtoAuth.nil? %> 'No Target'} <%else%>
				'<%=statistic.ReqtoAuth %> Hours'}<% end %> , 
				
				{v: <% if statistic.Turnaround_Time.nil? %> 0,
				<%else%> <%=statistic.Turnaround_Time %>, <% end %>
				f: <% if statistic.Turnaround_Time.nil? %> 'No Target'} <%else%>
				'<%=statistic.Turnaround_Time %> Hours'}<% end %>,
				
				{v: <% if statistic.Turnaround_Time.nil? %> 0,
				<%else%> <%=(statistic.ReqtoAuth.to_f - statistic.Turnaround_Time.to_f) %>, <% end %>
				f: <% if statistic.Turnaround_Time.nil? %> 'No Data'} <%else%>
				'<%=(statistic.ReqtoAuth.to_f - statistic.Turnaround_Time.to_f) %> Hours'}<% end %>,
				
				{v: <% if statistic.Countofsets.nil? %> 0,
				<%else%> <%=statistic.Countofsets %>, <% end %>
				f: <% if statistic.Countofsets.nil? %> 'No Samples'} <%else%>
				'<%=statistic.Countofsets %> Counts'}<% end %>,
				
				
				<% if statistic.Turnaround_Time.to_f > statistic.ReqtoAuth.to_f %>
					true 
					<% @counthittat = @counthittat +1 
					@rowpos[@counter] = @counter
					
					%>
				<% else %>
					<% @countnotat = @countnotat +1 %>
					false
				<% end %>],
				<% @counter = @counter +1 %>
			<%end%>
          		['End of Data Marker',   {v: 0,  f: ''},{v: 0,  f: '0'},{v: 0,  f: '0'}, {v: 0,  f: '0'}, true]
        ]);
			<% @counter=0%>
			<% @rowpos.each do |rowhit| %>
			<%=@rowpos[@counter]%>
			<% @counter=@counter +1 %>
			<% end %>
			
			
        var table = new google.visualization.Table(document.getElementById('table_div'));
        table.draw(data, {showRowNumber: true});
		drawChart();
      }

	function drawChart() {
	        var data = google.visualization.arrayToDataTable([
	          ['In TAT Performance', 'Out of TAT Performance'],
	          ['In',     <%= @counthittat %>],
	          ['Out',    <%= @countnotat %>]
	        ]);

	        var options = {
	          title: 'TAT Performance for Week: <%= @week_No %>'
	        };

	        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
	        chart.draw(data, options);
	      }
	
    </script>


<% end %>


<div class="container">
<div class="sixteen columns">
	<div class="eight columns alpha">
			<h3>Weekly Turnaround Time Performance For Week Number: <%= @week_no %></h3>
			<div id="table_div"></div>
	</div>
	
	<div class="eight columns omega">
		<div id="chart_div"></div>
	</div>
</div>
</div>
</div>